			body{
				 height:1800px ;
				 background: url(https://img.alicdn.com/imgextra/i2/2941517649/TB2zHwJXheK.eBjSZFlXXaywXXa_!!2941517649.jpg) no-repeat;
				background-size:auto 2100px ;
			}
			@font-face { 
					font-family: STxingkai;
					src: url(xingkai.ttf);
} 
			
			
			
			
			
			*{
				margin: 0;
				padding: 0;
			}
			
			#wrap{
				width: 1500px;
				height: 300px;
				margin:20px auto 0;
				position: relative;
				
			}
			#list{
				list-style: none;
				
			}
			#list li{
				float: left;
				width: 84px;
				height: 40px;
				font-size: 20px;
				line-height: 40px;
				text-align: center;
				margin-left:150px ;
				color: white;
				cursor: pointer;
				
			}
			#list li:hover{
				color: red;
			}
			#list a:hover{
				color: red;
			}
			/*#slider{
				height: 5px;
				width: 114px;
				background: white;
				position: absolute;
				margin-left: 30%;
				top: 45px;
			}*/
			.clear:after{
				content:"";
				display: block;
				clear: both;
			}
			#content{
				position: relative;
				left: 200px;
				top: 50px;
				
			}
			#content img{
				position: absolute;
				left: 0px;
				top: 0px;
				opacity: 1;
				transition: all 1s;
				width: 300px;
				height: 400px;
				border-radius: 20px;
			}
			#btns li{
				width: 20px;
				height: 20px;
				margin-top: 20px;
				
				border-radius: 50%;
				list-style: none;
				color: rgba(255,255,255,0);
				cursor: pointer;
				
			}
			#btns{
				position: absolute;
				margin-left: 600px;
				top:360px;
			}
			
			#btns img{
				width: 60px;
				height: 60px;
				border-radius: 50%;
				position: relative;
			}
			#bg{
				width: 1000px;
				height: 1100px;
				background: url(https://img.alicdn.com/imgextra/i1/2941517649/TB2VOAkXmiJ.eBjSspiXXbqAFXa_!!2941517649.png) no-repeat;
				background-size: 100%;
			}
			#l1{
				background: url(https://img.alicdn.com/imgextra/i3/2941517649/TB2H.HzXmiJ.eBjSspiXXbqAFXa_!!2941517649.jpg);
				background-size:20px ;
			}
			#l2{
				background: url(https://img.alicdn.com/imgextra/i3/2941517649/TB29njAXmCI.eBjy1XbXXbUBFXa_!!2941517649.jpeg);
				background-size:20px ;
			}
			#l3{
				background: url(https://img.alicdn.com/imgextra/i4/2941517649/TB2M7YSXX5N.eBjSZFvXXbvMFXa_!!2941517649.jpeg);
				background-size:20px ;
			}
			#l4{
				background: url(https://img.alicdn.com/imgextra/i1/2941517649/TB2zNjSXX5N.eBjSZFmXXboSXXa_!!2941517649.jpg);
				background-size:20px ;
			}
			#l5{
				background: url(https://img.alicdn.com/imgextra/i4/2941517649/TB2KEPAXl9J.eBjy0FoXXXyvpXa_!!2941517649.jpg);
				background-size:20px ;
			}
			#l6{
				background: url(https://img.alicdn.com/imgextra/i3/2941517649/TB2k7nAXmGI.eBjSspcXXcVjFXa_!!2941517649.jpeg);
				background-size:20px ;
			}
			#l7{
				background: url(https://img.alicdn.com/imgextra/i2/2941517649/TB2wZYAXbeI.eBjSspkXXaXqVXa_!!2941517649.jpeg);
				background-size:20px ;
			}
			#l8{
				background: url(https://img.alicdn.com/imgextra/i3/2941517649/TB27uHBXbaI.eBjSspaXXXIKpXa_!!2941517649.jpeg);
				background-size:20px ;
			}
			#l9{
				background: url(https://img.alicdn.com/imgextra/i3/2941517649/TB2Z1LBXbaI.eBjSspaXXXIKpXa_!!2941517649.jpeg);
				background-size:20px ;
			}
			#l0{
				background: url(https://img.alicdn.com/imgextra/i2/2941517649/TB2aLDAXg9J.eBjSsppXXXAAVXa_!!2941517649.jpeg);
				background-size:20px ;
			}
			.active{
				border:3px solid red;
				width: 155px;
				height: 155px;
			}
			#bgs{
				position: fixed;
				background-color: rgba(255,255,255,0.2);
				height: 850px;
				overflow: auto;
				top: 0;
				left:200px;
				color: rgb(45,36,105);
				font-size: 17px;
				display: none;
				border-radius: 20px;
				z-index: 999;
			}
			#x1{
				border: 0;
				color: white;
				width: 300px;
				height: 100px;
				text-align: center;
				line-height: 100px;
				font-size: 50px;
				float: right;
				background: rgba(255,255,255,0);
			}
			#jieshao{
				position: fixed;
				background-color: rgba(255,255,255,0.2);
				top: 100px;
				left:600px;
				color: rgb(45,36,105);
				font-size: 17px;
				display: none;
				border-radius: 20px;
				z-index: 999;
				
				
			}
			#x2{
				border: 0;
				color: white;
				width: 300px;
				height: 100px;
				text-align: center;
				line-height: 100px;
				font-size: 50px;
				float: right;
				background: rgba(255,255,255,0);
			}
			#wrap a{
				text-decoration: none;
				color: white;
			}
			.copyright {
    				bottom: 10px;
    				font-size: 12px;
    				left: 0;
   				position: fixed;
    				text-align: center;
    				width: 100%;
    				color: #fff;
    				opacity: 0.4;
    				z-index: 900;
    				}
    				#logo{
    					position: absolute;
    					left: 340px;
    					top: 100px;
    					width: 1500px;
    				}
    				#logo1{
    					height: 200px;
    				}
    				.a2{
    					text-decoration: none;
    					color: #fff;
    					opacity: 0.6;
    				}
    				#offical{
    					width: 1000px;
					height: 1100px;
					background: url(https://img.alicdn.com/imgextra/i1/2941517649/TB2VOAkXmiJ.eBjSspiXXbqAFXa_!!2941517649.png) no-repeat;
					background-size: 100%;
					position: relative;
					bottom: 1100px;
					left: 1000px;
    				}
    				#links{
    					position: absolute;
    					top: 70px;
    					left: 150px;
    					font-family: STxingkai;
    					
    				}
    				#links a{
    					text-decoration: none;
    					color: #ccc;
    					
    					
    				}
    				#personal{
    					width: 1000px;
					height: 1100px;
					background: url(https://img.alicdn.com/imgextra/i1/2941517649/TB2VOAkXmiJ.eBjSspiXXbqAFXa_!!2941517649.png) no-repeat;
					background-size: 100%;
					position: relative;
					bottom: 1600px;
					
    				}
    				#links1{
    					position: absolute;
    					top: 70px;
    					left: 150px;
    				}
    				#links1 a{
    					text-decoration: none;
    					color: #ccc;
    				}
			    #linkss{
    					position: absolute;
    					left:400px;
    					top: 100px;
    				}
    				#linkss a{
    					text-decoration: none;
    					color: #ccc;
    				}
    				#excel1{
    					background: url(https://img.alicdn.com/imgextra/i1/2941517649/TB2VOAkXmiJ.eBjSspiXXbqAFXa_!!2941517649.png) no-repeat;
    					width: 2000px;
					height: 2100px;
					background-size: 100%;
					position: relative;
    				}
    				    #linksss{
    					position: absolute;
    					left:400px;
    					top: 100px;
    				}
    				#linksss a{
    					text-decoration: none;
    					color: #ccc;
    				}
    				#excel2{
    					background: url(https://img.alicdn.com/imgextra/i1/2941517649/TB2VOAkXmiJ.eBjSspiXXbqAFXa_!!2941517649.png) no-repeat;
    					width: 2000px;
					height: 2100px;
					background-size: 100%;
					position: relative;
    				}
				.aa:hover{
					color: red;
				}
				#player1{
					width: 1000px;
					height: 1100px;
					background: url(https://img.alicdn.com/imgextra/i1/2941517649/TB2VOAkXmiJ.eBjSspiXXbqAFXa_!!2941517649.png) no-repeat;
					background-size: 100%;
					position: relative;
					bottom: 2700px;
					left: 1000px;
				}
				
				#scroll1{
				height: 400px;
				width:6000px;
				position: absolute;
				top: 0;
				left: 0;
				transition: all 0.8s;
			}
			
			#content1{
				margin: 20px auto 0;
				width: 600px;
				height: 400px;
				overflow: hidden;
				margin-top: 10px;
				position: relative;
				top: 30px;
				left: -20px;
				
			}
			#scroll1 img{
				height: 400px;
				width:600px;
			}
