<!DOCTYPE html>
<html ng-app="myApp" ng-controller="ctrl">

	<head>
		<meta charset="UTF-8">
		<title>华艺广告字牌</title>
		<link rel="icon" href="favicon.ico"/>
		<style type="text/css">
			html,
			body {
				font-size: 20px;
			}
			.al1:hover{
				opacity: 0;
			}
		</style>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

		<script src="css/angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/angular-route.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body class="container-fluid">
		<div id="nav" role="navigation" style="position: fixed;width: 15rem;z-index: 100;left: .5rem;" class="navbar navbar-inverse">
			<a href="#/index" class="navbar-brand" id="logo"><img style="width: 40px;" ng-click="ss()" src="img/logo.png" /></a>
			<img class="pull-right" style="margin-right: 10px;margin-top: 10px;" src="img/menu.png" ng-click="none()" id="menu" />
		</div>
		<div ng-show="show" style="background: rgba(0,0,0,0.7);width: 15rem;height: 720px;position: fixed;top: 50px;z-index: 100;left: 0.5rem;" id="menus">
			<a href="#/index" ng-click="none();ss();" class="btn btn-lg btn-block btn-link" style="color: white;margin-top: 4rem;">华艺首页</a>
			<a href="#/anli" ng-click="none();ss();" class="btn btn-lg btn-block btn-link" style="color: white;">华艺案例</a>
			<a href="#/chengyuan" ng-click="none();hide();" class="btn btn-lg btn-block btn-link" style="color: white;">华艺阵容</a>
			<a href="#/guanyu" ng-click="none();hide();" class="btn btn-lg btn-block btn-link" style="color: white;">关于华艺</a>
			<a href="#/lianxi" ng-click="none();hide();" class="btn btn-lg btn-block btn-link" style="color: white;">联系我们</a>
			<a href="#/jiaru" ng-click="none();hide();" class="btn btn-lg btn-block btn-link" style="color: white;">加入华艺</a>
		</div>
		
		<ng-view></ng-view>
		<div style="width: 15rem;height: 2rem;position: fixed;z-index: 98;bottom: 0;left: .5rem;background: black;" id="">
			<a style="" href="tel:13356623517"><img style="width: 1.5rem;height: 1rem;margin-left: 1.35rem;margin-top: .3rem;" src="img/电话.png" /></a>
			<a style="" href="sms:13356623517"><img style="width: 1.5rem;height: 1.2rem;margin-left: 2rem;margin-top: .3rem;" src="img/短信.png" /></a>
			<a style="" href="mailto:964072922@qq.com"><img style="width: 1.5rem;height: 1.2rem;margin-left: 2rem;margin-top: .3rem;" src="img/邮件.png" /></a>
			<a style="" ng-click="hide()" href="#/jiaru"><img style="width: 1.5rem;height: 1.2rem;margin-left: 2rem;margin-top: .3rem;" src="img/加入我们.png" /></a>
		</div>
	</body>

</html>
<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	var app = angular.module("myApp", ["ngRoute"]);
	//配置路由
	app.controller("ctrl", function($scope, $rootScope) {
		$scope.show = false;
		$scope.show1 = true;
		$scope.none = function() {
			if($scope.show) {
				$scope.show = false;
			} else {
				$scope.show = true;
			}

		}
		$scope.hide = function() {
			$scope.show1 = false;

		}
		$scope.ss = function() {
			$scope.show1 = true;

		}
		
	});
	app.controller("aa", function($scope, $rootScope) {
		var swiper = new Swiper(".swiper-container", {
			
			// 每页之间的间隔
			spaceBetween: 1,
			loop: true,
			autoplay: 2200,
			autoplayDisableOnInteraction: false
		});
	});
	//配置路由信息
	app.config(function($routeProvider) {
		$routeProvider.when("/anli", {
			templateUrl: "anli.html"
		});
		$routeProvider.when("/lianxi", {
			templateUrl: "lianxi.html"
		});
		$routeProvider.when("/chengyuan", {
			templateUrl: "chengyuan.html"
		});
		$routeProvider.when("/guanyu", {
			templateUrl: "guanyu.html"
		});
		$routeProvider.when("/jiaru", {
			templateUrl: "jiaru.html"
		});
		$routeProvider.otherwise({
			templateUrl: "jieshao.html"
		});
		
	});
	app.config(['$locationProvider', function($locationProvider) {
		$locationProvider.hashPrefix("");
	}]);
</script>
<script type="text/javascript">
	var scale = 0;

	function fit() {
		scale = document.documentElement.clientWidth / 320 * 20;
		$("html").css({
			fontSize: scale + "px"
		});
	}
	fit();
	window.onresize = function() {
		fit();
	}
</script>
<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	
		
	
	
</script>