
<div class="center-block" style="width:15rem;height: 14rem;margin-bottom: 30px;margin-top: 50px;" id="wrap">
	<img style="width: 15rem;height:54rem ;position: fixed;left:.5rem ;z-index: 1;" src="img/bg1.jpg" />
	<div style="width: 15rem;height:30rem ;position: absolute;left:.5rem ;z-index: 4;background: rgba(0,0,0,0.8);" id="">
		<div id="wrap1">
			<a ng-click="hide()" href="index1.html#/guanyu"><div style="background: url(img/blue.png);opacity: .5;width: 7.5rem;height: 7.5rem;background-size:100% 100% ;position: absolute;left: 0;top: 0rem;" id="">
				<a ng-click="hide()" href="index1.html#/guanyu"><img style="width: 4.5rem;margin-left: 1.5rem;margin-top: 1rem;" src="img/ico1.png"/><br /><br /></a>
				<a ng-click="hide()" href="index1.html#/guanyu"><span style="color: white;font-size: .6rem;margin-left: 2.5rem;" id="">
					关于华艺
				</span></a>
			</div></a>
			<a ng-click="hide()" href="index1.html#/chengyuan"><div style="background: url(img/green.png);opacity: .5;width: 7.5rem;height: 7.5rem;background-size:100% 100% ;position: absolute;right: 0;top: 0rem;" id=""></a>
				<a ng-click="hide()" href="index1.html#/chengyuan"><img style="width: 4.5rem;margin-left: 1.5rem;margin-top: 1rem;" src="img/ico2.png"/><br /><br /></a>
				<a ng-click="hide()" href="index1.html#/chengyuan"><span style="color: white;font-size: .6rem;margin-left: 2.5rem;" id="">
					华艺阵容
				</span></a>
			</div></a>
			<a ng-click="ss()" href="index1.html#/anli"><div style="background: url(img/pink.png);opacity: .5;width: 15rem;height: 15rem;background-size:100% 100% ;position: absolute;left: 0;top: 7.5rem;" id="">
				<a ng-click="ss()" href="index1.html#/anli"><img style="width: 9rem;margin-left: 3rem;margin-top: 2rem;" src="img/ico4.png"/><br /><br /></a>
				<a ng-click="ss()" href="index1.html#/anli"><span style="color: white;font-size: 1.2rem;margin-left: 5.2rem;" id="">
					华艺案例
				</span></a>
			</div></a>
			<a ng-click="hide()" href="index1.html#/lianxi"><div style="background: url(img/red.png);opacity: .5;width: 7.5rem;height: 7.5rem;background-size:100% 100% ;position: absolute;left: 0;top: 22.5rem;margin-bottom: 2rem;" id=""></a>
				<a ng-click="hide()" href="index1.html#/lianxi"><img style="width: 4.5rem;margin-left: 1.5rem;margin-top: 1rem;" src="img/ico5.png"/><br /><br /></a>
				<a ng-click="hide()" href="index1.html#/lianxi"><span style="color: white;font-size: .6rem;margin-left: 2.5rem;" id="">
					联系我们
				</span></a>
			</div></a>
			<a ng-click="hide()" href="index1.html#/jiaru"><div style="background: url(img/purple.png);opacity: .5;width: 7.5rem;height: 7.5rem;background-size:100% 100% ;position: absolute;right: 0;top: 22.5rem;margin-bottom: 2rem;" id=""></a>
				<a ng-click="hide()" href="index1.html#/jiaru"><img style="width: 4.5rem;margin-left: 1.5rem;margin-top: 1rem;" src="img/ico6.png"/><br /><br /></a>
				<a ng-click="hide()" href="index1.html#/jiaru"><span style="color: white;font-size: .6rem;margin-left: 2.5rem;" id="">
					加入华艺
				</span></a>
			</div></a>
		</div>
	</div>